@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0f172a; /* Slate 900 background for a sleek dark mode base */
  color: #f8fafc; /* Slate 50 color */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
